@import './Var.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 3rem 8rem;
  background-image: $lightGradient;
  background-size: cover;
}

@media (min-width: 1270px) {
  .mobileImage {
    display: none;
  }
}

@media (max-width: 1269px) {
  .desktopImage {
    display: none;
  }
}